body {
	font-family: sans-serif;
	background: #f2f2f2;
}

#wrapper {
	margin: 1em auto;
	padding: 2em;
	width: 30em;
	background: #fff;
	border: 1px solid #333;
	border-radius: 2em;
	box-shadow:
		0px 5px 5px rgba(0,0,0, 0.25),
		inset 0px 0px 15px 5px rgba(0,0,0, 0.1)
	;
}

h1 {
	margin: 0 0 1em;
}

p {
	line-height: 1.5;
}

.field {
	margin: 0 0 0.5em;
	padding: 0.25em 0;
	overflow: hidden;
}

.field a {
	float: right;
	line-height: 1.5;
}

label {
	float: left;
	width: 35%;
	height: 32px;
	line-height: 32px;
	text-align: right;
}

.status {
	margin: 0.5em 0.5em 0 0;
	padding: 0 0.5em;
	float: right;
	line-height: 30px;
	background: #f2f2f2;
	box-shadow: 0px 3px 3px rgba(0,0,0, 0.25);
}
.status.error { background: #fcc; }
.status.success { background: #cfc; }

select,
input[type="text"],
input[type="url"] {
	margin: 0;
	padding: 0 0.25em;
	float: right;
	font-size: 16px;
	width: 60%;
	line-height: 30px;
	border: 1px solid #666;
}

input[type="button"],
input[type="submit"] {
	padding: 0 1em;
	margin: 0.5em 0 0;
	clear: right;
	float: right;
	height: 30px;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #666;
	background: #fff;
	border-radius: 5px;
	box-shadow:
		0px 3px 3px rgba(0,0,0, 0.25),
		inset 0px 0px 1px 3px rgba(0,0,0, 0.1)
	;
}

input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
	background: #ddd;
}
